{% extends "base.html" %}
{% load heroicons partials %}
{% block title %}
    Credits / Cast / {{ person.name }}
{% endblock title %}
{% block content %}
    <header class="justify-between items-center pb-3 mb-6 space-y-3 border-b sm:flex sm:space-y-0">
        <h1 class="flex justify-center items-center text-xl font-bold sm:justify-start lg:text-2xl xl:text-3xl">
            {{ person.name }}
        </h1>
        {% if is_crew_member %}
            <nav>
                <ul class="flex justify-center items-center sm:justify-end">
                    <li>
                        <a href="{% url 'credits:crew_detail' person_id=person.pk slug=person.slug %}"
                           class="link">Crew Credits</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </header>
    {% partialdef pagination inline=True %}
    <ul class="divide-y divide-solid" id="{{ pagination_target }}">
        {% with has_other_pages=page_obj.has_other_pages %}
            {% if has_other_pages %}
                <li class="pb-3">{% include "_pagination_links.html" %}</li>
            {% endif %}
            {% regroup page_obj.object_list by release as groups %}
            {% for group in groups %}
                {% with release=group.grouper %}
                    <li class="py-3">
                        <article class="flex items-center space-x-3 cursor-pointer group"
                                 role="link"
                                 hx-get="{{ release.get_absolute_url }}"
                                 hx-push-url="true">
                            {% cover_image release.poster_url 100 150 title=release.title css_class="w-16 h-20 group-hover:grayscale" %}
                            <div class="flex flex-col place-content-between h-16">
                                <h2 class="font-bold tracking-tight leading-tight break-words line-clamp-2"
                                    aria-label="{{ release.title }}"
                                    title="{{ release.title }}">
                                    <a class="group-hover:text-blue-600 link dark:group-hover:text-blue-300"
                                       aria-label="{{ release.title }}"
                                       href="{{ release.get_absolute_url }}">{{ release.title }}</a>
                                </h2>
                                <h3 class="w-60 text-xs font-semibold tracking-tight leading-tight text-gray-600 md:w-96 md:text-sm dark:text-gray-300 truncate">
                                    {% for credit in group.list %}
                                        {{ credit.character }}
                                        {% if not forloop.last %}/{% endif %}
                                    {% endfor %}
                                </h3>
                            </div>
                        </article>
                    </li>
                {% endwith %}
            {% endfor %}
            {% if has_other_pages %}
                <li class="pt-3">{% include "_pagination_links.html" %}</li>
            {% endif %}
        {% endwith %}
    </ul>
{% endpartialdef pagination %}
{% endblock content %}
