{% extends "base.html" %}
{% load heroicons %}
{% block content %}
    <nav class="pb-3 mb-3 border-b">
        {% breadcrumbs %}
        {% breadcrumb 'Movies' 'releases:movie_list' %}
        {% breadcrumb 'Add Movie' %}
    {% endbreadcrumbs %}
</nav>
<header class="justify-between items-center pb-3 mb-3 space-y-3 border-b sm:flex sm:space-y-0">
    <h1 class="flex justify-center items-center text-xl font-bold sm:justify-start lg:text-2xl xl:text-3xl">Add Movie</h1>
    <nav>
        <ul class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-3">
            <li class="flex justify-center items-center sm:justify-start">{% search_form placeholder="Search TMDB" %}</li>
        </ul>
    </nav>
</header>
{% if search_results %}
    <ul class="divide-y divide-solid">
        {% for result in search_results %}
            <li class="flex justify-between items-center py-2 hover:bg-gray-100 dark:hover:bg-gray-900 first-of-type:pt-0">
                <div class="font-semibold">
                    {{ result.title }}
                    {% if result.release_date %}({{ result.release_date|date:"Y" }}){% endif %}
                </div>
                <div>
                    <button class="inline-flex items-center space-x-2 btn btn-default"
                            aria-label="Add Movie"
                            hx-post="{% url 'releases:add_movie' result.id %}">
                        {% heroicon_mini "plus" title="Add Movie" %}
                        <span>Add</span>
                    </button>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>
        {% if request.search %}
            Sorry, no results found for your query
        {% else %}
            Find a movie on <a class="underline link" href="https://www.themoviedb.org/">The Movie Database</a> and add it to our collection!
        {% endif %}
    </p>
{% endif %}
{% endblock content %}
