{% extends "base.html" %}
{% load heroicons partials cache %}
{% block content %}
    <header class="justify-between items-center pb-3 mb-6 space-y-3 border-b sm:flex sm:space-y-0">
        <h1 class="flex justify-center items-center text-xl font-bold sm:justify-start lg:text-2xl xl:text-3xl">TV Shows</h1>
        <nav>
            <ul class="items-center space-y-3 sm:flex sm:space-y-0 sm:space-x-3">
                <li class="flex justify-center items-center sm:justify-start">{% search_form placeholder="Search TV Shows" %}</li>
                {% if request.user.is_authenticated %}
                    <li class="flex justify-center items-center sm:justify-start">
                        <a class="inline-flex space-x-2 btn btn-primary"
                           href="{{ search_tmdb_url }}">
                            {% heroicon_mini "plus" %}
                            <span>Add a TV Show</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% partialdef pagination inline=True %}
    {% cache 600 movies-list request.get_full_path %}
    <ul class="divide-y divide-solid" id="{{ pagination_target }}">
        {% with has_other_pages=page_obj.has_other_pages %}
            {% if has_other_pages %}
                <li class="pb-3">{% include "_pagination_links.html" %}</li>
            {% endif %}
            {% for release in page_obj %}
                <li class="py-3">
                    <article class="flex items-center space-x-3 cursor-pointer group"
                             role="link"
                             hx-get="{{ release.get_absolute_url }}"
                             hx-push-url="true">
                        {% cover_image release.poster_url 100 150 title=release.title css_class="w-16 h-20 group-hover:grayscale" %}
                        <div class="flex flex-col place-content-between h-16">
                            <h2 class="font-bold tracking-tight leading-tight break-words line-clamp-2"
                                aria-label="{{ release.title }}"
                                title="{{ release.title }}">
                                <a class="group-hover:text-blue-600 link dark:group-hover:text-blue-300"
                                   aria-label="{{ release.title }}"
                                   href="{{ release.get_absolute_url }}">{{ release.title }}</a>
                            </h2>
                            {% if release.release_date %}
                                <h3 class="w-60 text-xs font-semibold tracking-tight leading-tight text-gray-600 md:w-96 md:text-sm dark:text-gray-300 truncate">
                                    {{ release.release_date|date:"Y" }}
                                </h3>
                            {% endif %}
                        </div>
                    </article>
                </li>
            {% empty %}
                <li class="py-3">
                    Sorry, we couldn't find a show matching your search. You can search <a class="underline link" href="{{ search_tmdb_url }}">the Movie Database</a> and add the show to our collection!
                </li>
            {% endfor %}
            {% if has_other_pages %}
                <li class="pt-3">{% include "_pagination_links.html" %}</li>
            {% endif %}
        {% endwith %}
    </ul>
{% endcache %}
{% endpartialdef pagination %}
{% endblock content %}
