{% extends "base.html" %}
{% load heroicons %}
{% block content %}
    <h1 class="pb-6 mb-6 text-xl font-bold border-b lg:text-2xl xl:text-3xl">
        {{ movie.title }}
        {% if movie.release_date %}({{ movie.release_date|date:"Y" }}){% endif %}
    </h1>
    <div class="mb-6 space-y-3 sm:flex sm:space-y-0 sm:space-x-6">
        <div>{% cover_image movie.poster_url 200 300 title=movie.title %}</div>
        <div class="space-y-3">
            <p class="break-words prose prose-sm md:prose-base dark:prose-invert">{{ movie.overview }}</p>
            <div class="flex flex-wrap items-center max-w-prose leading-loose">
                {% for genre in movie.genres.all %}
                    <a class="inline-flex items-center m-2 link first-of-type:ml-0"
                       aria-label="{{ genre.name }} Movies"
                       title="{{ genre.name }} Movies"
                       href="{{ genre.get_absolute_url }}">
                        {% heroicon_mini "tag" class="mr-2" %}
                        {{ genre.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if cast_members %}
        <details class="mb-6">
            <summary class="mb-3 text-lg font-bold cursor-pointer lg:text-xl xl:text-2xl link">Cast</summary>
            <ul class="border-t divide-y divide">
                {% regroup cast_members by person as groups %}
                {% for group in groups %}
                    {% with person=group.grouper %}
                        <li class="py-3">
                            {% url 'people:cast_member' person_id=person.pk slug=person.slug as cast_member_url %}
                            <article class="flex items-center space-x-3 cursor-pointer group"
                                     role="link"
                                     hx-get="{{ cast_member_url }}"
                                     hx-push-url="true">
                                {% cover_image person.profile_url 100 150 title=person.name css_class="w-16 h-20 group-hover:grayscale" %}
                                <div class="flex flex-col place-content-between h-16">
                                    <h2 class="font-bold tracking-tight leading-tight break-words line-clamp-2"
                                        aria-label="{{ person.name }}"
                                        title="{{ person.name }}">
                                        <a class="group-hover:text-blue-600 link dark:group-hover:text-blue-300"
                                           aria-label="{{ movie.title }}"
                                           href="{{ cast_member_url }}">{{ person.name }}</a>
                                    </h2>
                                    <h3 class="w-60 text-xs font-semibold tracking-tight leading-tight text-gray-600 md:w-96 md:text-sm dark:text-gray-300 truncate">
                                        {% for credit in group.list %}
                                            {{ credit.character }}
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </h3>
                                </div>
                            </article>
                        </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </details>
    {% endif %}
    {% if crew_members %}
        <details class="mb-6">
            <summary class="mb-3 text-lg font-bold cursor-pointer lg:text-xl xl:text-2xl link">Crew</summary>
            <ul class="border-t divide-y divide">
                {% regroup crew_members by person as groups %}
                {% for group in groups %}
                    {% with person=group.grouper %}
                        <li class="py-3">
                            {% url 'people:crew_member' person_id=person.pk slug=person.slug as crew_member_url %}
                            <article class="flex items-center space-x-3 cursor-pointer group"
                                     role="link"
                                     hx-get="{{ crew_member_url }}"
                                     hx-push-url="true">
                                {% cover_image person.profile_url 100 150 title=person.name css_class="w-16 h-20 group-hover:grayscale" %}
                                <div class="flex flex-col place-content-between h-16">
                                    <h2 class="font-bold tracking-tight leading-tight break-words line-clamp-2"
                                        aria-label="{{ person.name }}"
                                        title="{{ person.name }}">
                                        <a class="group-hover:text-blue-600 link dark:group-hover:text-blue-300"
                                           aria-label="{{ movie.title }}"
                                           href="{{ crew_member_url }}">{{ person.name }}</a>
                                    </h2>
                                    <h3 class="w-60 text-xs font-semibold tracking-tight leading-tight text-gray-600 md:w-96 md:text-sm dark:text-gray-300 truncate">
                                        {% for credit in group.list %}
                                            {{ credit.job }}
                                            {% if not forloop.last %}/{% endif %}
                                        {% endfor %}
                                    </h3>
                                </div>
                            </article>
                        </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </details>
    {% endif %}
    <div>
        <h2 class="pb-6 mb-6 text-lg font-bold border-b lg:text-xl xl:text-2xl">Reviews</h2>
        {% include "reviews/_reviews.html" %}
    </div>
{% endblock content %}
