{% extends "base.html" %}
{% load heroicons %}
{% block content %}
    <h1 class="pb-6 mb-6 text-xl font-bold border-b lg:text-2xl xl:text-3xl">
        {{ movie.title }}
        {% if movie.release_date %}({{ movie.release_date|date:"Y" }}){% endif %}
    </h1>
    <div class="mb-6 space-y-3 sm:flex sm:space-y-0 sm:space-x-3">
        <div>{% cover_image movie.poster_url 200 300 title=movie.title %}</div>
        <div class="space-y-3">
            <p class="break-words prose prose-sm md:prose-base dark:prose-invert">{{ movie.overview }}</p>
            <div class="flex flex-wrap items-center max-w-prose leading-loose">
                {% for genre in movie.genres.all %}
                    <a class="inline-flex items-center m-2 link first-of-type:ml-0"
                       aria-label="{{ genre.name }} Movies"
                       title="{{ genre.name }} Movies"
                       href="">
                        {% heroicon_mini "tag" class="mr-2" %}
                        {{ genre.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if cast_members %}
        <div class="mb-6">
            <h2 class="pb-6 mb-6 text-lg font-bold border-b lg:text-xl xl:text-2xl">Cast</h2>
            <div class="grid grid-cols-3 gap-1 sm:grid-cols-6">
                {% for cast_member in cast_members %}
                    <a href="" title="{{ cast_member.person.name }}">
                        {% cover_image cast_member.person.profile_url 200 300 title=cast_member.person.name %}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div>
        <h2 class="pb-6 mb-6 text-lg font-bold border-b lg:text-xl xl:text-2xl">Reviews</h2>
        {% include "reviews/_reviews.html" %}
    </div>
{% endblock content %}
