{# vim: set filetype=htmldjango #}
{% load heroicons partials %}
{% if request.user.is_anonymous %}
    <a class="block link" href="{{ login_url }}">Log in or sign up to post your review!</a>
{% else %}
    {% partialdef review_form inline=True %}
    <form hx-post="{{ review_submit_url }}"
          hx-target="this"
          {% if hx_oob %}hx-swap-oob="true"{% endif %}
          class="space-y-3{% if not review %} pb-3 mb-3 border-b{% endif %}"
          id="review-form">
        <h3 class="my-3 text-base font-semibold lg:text-lg">
            {% if review %}
                Edit Review
            {% elif parent %}
                Reply to Review
            {% else %}
                Submit a Review
            {% endif %}
        </h3>
        {{ review_form }}
        <div class="flex items-center space-x-2">
            {% if review %}
                {% with target=review.get_target_id %}
                    <button class="text-xs lg:text-sm link"
                            hx-get="{% url 'reviews:cancel_review' review.pk %}"
                            hx-target="#{{ target }}"
                            hx-swap="outerHTML show:#{{ target }}:top">Cancel</button>
                {% endwith %}
            {% elif parent %}
                {% with target=parent.get_target_id %}
                    <button class="text-xs lg:text-sm link"
                            hx-get="{% url 'reviews:cancel_review' parent.pk %}"
                            hx-target="#{{ target }}"
                            hx-swap="outerHTML show:#{{ target }}:top">Cancel</button>
                {% endwith %}
            {% endif %}
            <button class="inline-flex items-center btn btn-primary">
                {% if review %}
                    {% heroicon_mini "check" class="mr-2" %}
                    <span>Save</span>
                {% else %}
                    {% heroicon_mini "plus" class="mr-2" %}
                    <span>Submit</span>
                {% endif %}
            </button>
        </div>
    </form>
{% endpartialdef %}
{% endif %}
<div id="reviews" class="divide-y divide">
    {% for review in reviews %}
        {% partialdef review inline=True %}
        {% with target=review.get_target_id %}
            <div class="relative py-3 space-y-3" id="{{ target }}">
                <div class="justify-between items-center space-y-2 sm:flex sm:space-y-0">
                    <div class="flex items-center space-x-3">
                        <a href="" class="link">{{ review.user.username }}</a>
                    </div>
                    <div class="font-semibold">Posted {{ review.created|date }}</div>
                </div>
                <div class="break-words prose prose-sm md:prose-base dark:prose-invert">{{ review.comment|linebreaksbr }}</div>
                {% if review.parent %}
                    <div>
                        Reply to: <a class="underline link" href="#{{ review.parent.get_target_id }}">{{ review.parent.comment|truncatechars:120 }}</a>
                    </div>
                {% endif %}
                <div class="flex justify-between items-center text-xs lg:text-sm">
                    <div class="flex items-center space-x-3">
                        {% if request.user == review.user %}
                            <button class="link"
                                    hx-get="{% url 'reviews:edit_review' review.pk %}"
                                    hx-target="#review-form"
                                    hx-swap="outerHTML show:#review-form:top">Edit</button>
                            <button class="link"
                                    hx-delete="{% url 'reviews:delete_review' review.pk %}"
                                    hx-target="#{{ target }}"
                                    hx-swap="delete"
                                    hx-confirm="Are you sure you want to delete your review?">Delete</button>
                        {% else %}
                            <button class="link">Like</button>
                        {% endif %}
                        <button class="link"
                                hx-get="{% url 'reviews:reply_to_review' review.pk %}"
                                hx-target="#review-form"
                                hx-swap="outerHTML show:#review-form:top">Reply</button>
                    </div>
                    <div class="flex items-center space-x-3">
                        <div class="font-semibold">3 Likes</div>
                        {% if review.url %}<a href="{{ review.url }}" target="_blank" rel="noopener" class="link">Link</a>{% endif %}
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endpartialdef %}
{% endfor %}
</div>
