{% load heroicons %}
<form hx-post="{{ review_submit_url }}"
      hx-target="this"
      {% if hx_oob %}hx-swap-oob="true"{% endif %}
      {% if review %}hx-swap="innerHTML"{% endif %}
      class="space-y-3{% if not review %} pb-3 mb-3 border-b{% endif %}"
      id="review-form{% if review %}-{{ review.pk }}{% endif %}">
    <h3 class="my-3 text-base font-semibold lg:text-lg">
        {% if review %}
            Edit Review
        {% else %}
            Submit a Review
        {% endif %}
    </h3>
    {{ review_form }}
    <div class="flex items-center space-x-2">
        {% if review %}
            <button class="text-xs lg:text-sm link"
                    hx-get="{% url 'reviews:review_detail' review.id %}"
                    hx-target="#review-{{ review.pk }}"
                    hx-swap="innerHTML">Cancel</button>
        {% endif %}
        <button class="inline-flex items-center btn btn-primary">
            {% if review %}
                {% heroicon_mini "check" class="mr-2" %}
                <span>Save</span>
            {% else %}
                {% heroicon_mini "plus" class="mr-2" %}
                <span>Submit</span>
            {% endif %}
        </button>
    </div>
</form>
