{% extends "base.html" %}
{% load heroicons partials %}
{% block content %}
    <header class="justify-between items-center pb-3 mb-3 space-y-3 border-b sm:flex sm:space-y-0">
        <h1 class="flex justify-center items-center text-xl font-bold sm:justify-start lg:text-2xl xl:text-3xl">
            <a href="{{ release.get_absolute_url }}" class="link">{{ release.title }}</a>
            {% if review %}
                Edit Review
            {% else %}
                Add Review
            {% endif %}
        </h1>
    </header>
    {% partialdef form inline=True %}
    <form post="{{ request.path }}"
          hx-post="{{ request.path }}"
          class="space-y-3"
          id="review-form">
        {{ form }}
        <button class="flex items-center btn btn-primary">
            {% heroicon_mini "plus" class="mr-2" %}
            Submit
        </button>
    </form>
{% endpartialdef %}
{% endblock content %}
