{% load static heroicons %}
<header class="sticky top-0 z-20 w-full text-white bg-slate-900 dark:bg-slate-600"
        :class="scrolling ? 'drop-shadow-xl': ''"
        x-data="{showMenu: false, scrolling: false}"
        @scroll.window="scrolling = window.pageYOffset > 0"
        @htmx:before-request.window="showMenu=false">
    <nav class="flex justify-between items-center p-2">
        {% with site_name=request.site.name %}
            <div class="flex flex-shrink-0 items-center">
                <a class="inline-flex items-center text-lg font-bold md:text-xl xl:text-2xl"
                   href="{% url 'landing_page' %}"
                   title="{{ site_name }}: Home Page">
                    {% comment %}
                    <img src="{% static 'img/wave-white.png' %}" height="100" width="100" alt="{{ site_name }}" class="mr-3 w-6 h-6 lg:w-8 lg:h-8" title="{{ site_name }}" aria-hidden="true">
                    {% endcomment %}
                    {{ site_name }}
                </a>
            </div>
        {% endwith %}
        <ul class="hidden items-center space-x-6 lg:flex">
            <li>
                <a href="{% url 'movies:index' %}" class="flex items-center font-bold">Movies</a>
            </li>
            <li>
                <a href="" aria-label="" title="" class="flex items-center font-bold">TV Shows</a>
            </li>
            <li>
                <a href="" aria-label="" title="" class="flex items-center font-bold">Collections</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="" aria-label="" title="" class="flex items-center font-bold">Watchlist</a>
                </li>
                <li>
                    <a href="" aria-label="" title="" class="flex items-center font-bold">Reviews</a>
                </li>
            {% endif %}
            <li>
                <a href="" aria-label="" title="" class="flex items-center font-bold">About</a>
            </li>
        </ul>
        <ul class="flex items-center space-x-3 lg:space-x-6">
            {% if user.is_authenticated %}
                <li>
                    <a href=""
                       aria-label="Settings for {{ user.username }}"
                       title="Settings for {{ user.username }}"
                       class="flex items-center space-x-2 font-bold hover:text-blue-300">
                        {% heroicon_mini "user" title="User" %}
                        <span class="hidden md:inline-block">{{ user.username|slice:12 }}</span>
                    </a>
                </li>
                <li>
                    <form class="flex items-center"
                          hx-disable="true"
                          action="{% url 'account_logout' %}"
                          method="post">
                        {% csrf_token %}
                        <button class="flex items-center space-x-2 font-bold hover:text-blue-300">
                            {% heroicon_mini "arrow-left-on-rectangle" title="Sign out" %}
                            <span class="hidden md:inline-block">Logout</span>
                        </button>
                    </form>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'account_login' %}"
                       aria-label="Sign in"
                       title="Sign in"
                       class="flex items-center space-x-2 font-bold hover:text-blue-300">
                        {% heroicon_mini "arrow-right-end-on-rectangle" title="Sign in" %}
                        <span class="hidden md:inline-block">Sign in</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'account_signup' %}"
                       aria-label="Sign up"
                       title="Sign up"
                       class="flex items-center space-x-2 font-bold hover:text-blue-300">
                        {% heroicon_mini "user-plus" title="Sign up" %}
                        <span class="hidden md:inline-block">Sign up</span>
                    </a>
                </li>
            {% endif %}
            <li class="flex items-center lg:hidden">
                <button class="transition transform focus:outline-none"
                        aria-label="Show Menu"
                        title="Show Menu"
                        x-cloak
                        x-show.transition="!showMenu"
                        @click="showMenu=true">{% heroicon_outline "bars-3" size=30 title="Toggle Menu" %}</button>
                <button class="transition transform focus:outline-none"
                        aria-label="Hide Menu"
                        title="Hide Menu"
                        x-cloak
                        x-show.transition="showMenu"
                        @click="showMenu=false"
                        @keyup.escape.window="showMenu=false">
                    {% heroicon_outline "x-mark" size=30 title="Toggle Menu" %}
                </button>
            </li>
        </ul>
    </nav>
    <div class="absolute left-0 z-50 py-6 w-full bg-white shadow-xl lg:hidden dark:bg-black"
         x-cloak
         x-show.transition="showMenu"
         x-transition:enter="transition ease-out duration-75"
         x-transition:enter-start="transform opacity-0 scale-95"
         x-transition:enter-end="transform opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-75"
         x-transition:leave-start="transform opacity-100 scale-100"
         x-transition:leave-end="transform opacity-0 scale-95">
        {% with MENU_CSS="inline-flex items-center w-full sm:w-auto link" %}
            <nav class="pl-3 text-base md:text-lg">
                <ul class="space-y-3">
                    <li>
                        <a href="{% url 'movies:index' %}" class="{{ MENU_CSS }}">Movies</a>
                    </li>
                    <li>
                        <a href="" class="{{ MENU_CSS }}">TV Shows</a>
                    </li>
                    <li>
                        <a href="" class="{{ MENU_CSS }}">Collections</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="" class="{{ MENU_CSS }}">Watchlist</a>
                        </li>
                        <li>
                            <a href="" class="{{ MENU_CSS }}">Reviews</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="" aria-label="" title="" class="{{ MENU_CSS }}">About</a>
                    </li>
                </ul>
            </nav>
        {% endwith %}
    </div>
</header>
