{% extends "hx_base.html" %}
{% load static django_htmx heroicons %}
{% block container %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title>{{ request.site.name }}
                {% block title %}
                {% endblock title %}
            </title>
            {% comment %}
            <link rel="icon" type="image/png" href="{% static 'img/wave-ico.png' %}">
            <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
            {% endcomment %}
            <link rel="stylesheet" type="text/css" href="{% static "css/bundle.css" %}{% if debug %}?{% now "U" %}{% endif %}">
            <link rel="canonical" href="https://{{ request.site.domain }}/">
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport"
                  content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="copyright" content="Dan Jacob {% now "Y" %}">
            <meta name="cache-control" content="no-cache">
            <meta name="robots" content="index,follow">
            <meta name="description" content="Movie and TV Reviews">
            <meta name="keywords" content="movies, tv shows, reviews">
        </head>
        <body class="mx-auto font-sans text-sm antialiased md:text-base container-xl scroll-smooth"
              hx-boost="true"
              hx-target="#content"
              hx-swap="innerHTML show:window:top"
              hx-indicator="#hx-indicator"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            {% include "_hx_indicator.html" %}
            {% include "_messages.html" %}
            <div class="flex flex-col h-screen" id="content" hx-history-elt>
                {% block swappable_content %}
                    {{ block.super }}
                {% endblock swappable_content %}
            </div>
            {% cookie_notice %}
            {% django_htmx_script %}
            <script defer src="{% static "js/bundle.js" %}{% if debug %}?{% now "U" %}{% endif %}"></script>
        </body>
    </html>
{% endblock container %}
