{% spaceless %}
    {% block container %}
        <title>
            {{ request.site.name }}
            {% block title %}
            {% endblock title %}
        </title>
        {% block swappable_content %}
            <div class="grow">
                {% include "_navbar.html" %}
                <div class="flex relative p-2 py-6 mx-auto min-h-screen xl:pt-12">
                    <main class="mx-auto w-full xl:w-5/6">
                        {% block content %}
                        {% endblock content %}
                    </main>
                </div>
            </div>
        {% endblock swappable_content %}
    {% endblock container %}
{% endspaceless %}
