{# vim: set filetype=htmldjango #}
{% if collections %}
    <nav x-data="{showDropdown: false}" class="relative">
        <button id="collections-dropdown-btn"
                tabindex="0"
                @click="showDropdown = !showDropdown"
                @click.outside="showDropdown=false"
                @keyup.escape.window="showDropdown=false"
                class="flex items-center py-1 px-2 rounded-lg border sm:justify-end focus:ring focus:outline-none link md:hover:bg-transparent">
            Add to Collection...
            {% heroicon_mini "chevron-down" class="ml-3" %}
        </button>
        <div class="absolute z-20 my-2 w-56 bg-white rounded shadow dark:bg-gray-900 dark:border"
             x-cloak
             x-show="showDropdown"
             x-transition.scape.origin.top>
            <ul class="py-1 list-none" aria-labelledby="collections-dropdown-btn">
                {% for collection in collections %}
                    <li>
                        <label class="flex items-center p-2 space-x-3 cursor-pointer hover:dark:bg-gray-800">
                            <input type="checkbox"
                                   class="bg-inherit"
                                   autocomplete="off"
                                   {% if collection.is_added %} checked hx-delete="{% url 'collections:remove_release_from_collection' collection.pk release.pk %}" {% else %} hx-post="{% url 'collections:add_release_to_collection' collection.pk release.pk %}" {% endif %}
                                   hx-swap="outerHTML"
                                   hx-target="this"
                                   hx-trigger="click">
                            <span class="max-w-full truncate">{{ collection.name }}</span>
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
{% endif %}
