{% load heroicons %}
<form post="{{ request.path }}"
      hx-target="#{{ proposal.get_hx_target }}"
      class="space-y-3"
      id="proposal-form">
    {{ form }}
    <div class="flex items-center space-x-3">
        <button class="flex items-center btn btn-primary"
                hx-post="{{ request.path }}"
                hx-vals='{"action": "accept"}'>
            {% heroicon_mini "check" class="mr-2" %}
            Accept
        </button>
        <button class="flex items-center btn btn-default"
                hx-post="{{ request.path }}"
                hx-vals='{"action": "reject"}'>
            {% heroicon_mini "x-mark" class="mr-2" %}
            Reject
        </button>
        <button class="flex items-center btn btn-default"
                hx-post="{{ request.path }}"
                hx-vals='{"action": "cancel"}'>
            {% heroicon_mini "arrow-path" class="mr-2" %}
            Cancel
        </button>
    </div>
</form>
