{# vim: set filetype=htmldjango #}
{% with target=proposal.get_target_id %}
    <article class="relative py-3 space-y-3" id="{{ target }}">
        <div class="justify-between items-center space-y-2 sm:flex sm:space-y-0">
            <div class="flex items-center space-x-3">
                <a href="" class="link">{{ proposal.participant.username }}</a>
            </div>
            <div class="font-semibold">Submitted {{ proposal.created|date }}</div>
        </div>
        <p class="break-words prose prose-sm md:prose-base dark:prose-invert">{{ proposal.proposal|linebreaksbr }}</p>
        <div class="flex justify-between items-center text-xs lg:text-sm">
            {% if proposal.is_submitted %}
                <div class="flex items-center space-x-3">
                    <button class="link"
                            hx-get="{% url 'blogathons:respond_to_proposal' proposal.pk %}"
                            hx-target="#{{ target }}"
                            hx-swap="innerHTML">Reply</button>
                </div>
            {% else %}
                <strong>{{ proposal.get_status_display }}</strong>
            {% endif %}
        </div>
    </article>
{% endwith %}
